{% extends 'base.html' %}

{% block title %} EDiaries - Profile {% endblock %}

{% block body %}
    {% if user.user_profile %}
        ddd
    {% else %}
        <img src='/media/profile_pics/avatar.png' class="img-circle" width="100px">
    {% endif %}
    <p> Name : {{ user.first_name }} {{ user.last_name }}</p>
    <p> Email Address : {{ user.email }}</p>
    <p> Username : {{ user.username }}</p>
    <a href="{% url 'app_login:update' %}" class="btn btn-warning btn-sm">Update</a>
{% endblock %}